*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(/basket.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainText{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 0 0 1rem 0;
} 

.container{
    max-width: 600px;
    background-color: #000;
    margin: 12rem auto;
    padding: 2rem 4rem;
    border-radius: 10px;
}

.sections img{
    width: 29%;
    margin-top: 12px;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeSection h3{
    margin: 0 0 0 10px;
}

.guestSection h3{
    margin: 0 0 0 3px;
}

.homeSection h3, .guestSection h3{
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

.homescore-box, .guestscore-box {
    background-color: rgb(5, 64, 66);
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    border-radius: 5px;
    margin: 5px 0 25px 0;
    padding: 15px 5px;
}

.homeButtons , .guestButtons {
    display: flex;
    gap: 10px;
}

.homeButtons button, .guestButtons button{
    padding: 7px 14px;
    border-radius: 7px;
    border: 1px solid #fff;
    background-color: rgb(5, 64, 66);
    color: #fff;
}

.homeButtons button:hover, .guestButtons button:hover{
    color: black;
    background-color: #fff;
    transition: 0.7s;
}

#resetBtn{
    display: block;
    margin: 1.5rem auto;
    /* background-color: rgb(5, 64, 66); */
    border-radius: 12px;
    background-color: rgb(5, 64, 66);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 22px;
}

#resetBtn:hover{
    color: black;
    background-color: #fff;
    transition: 0.7s;
}

@media screen and (max-width:375px){
    .container{
        max-width: 400px;
        padding: 2rem 1rem;
    }
    .homescore-box, .guestscore-box{
        padding: 10px 2px;
    }
    .homeSection h3, .guestSection h3{
        font-size: 1.7rem;
    }
    .homeSection h3, .guestSection h3{
        margin-left: 2.3rem;
    }
    .homeButtons, .guestButtons{
        gap: 5px;
    }
    .sections{
        padding: 1rem;
    }
    .sections img{
        display: none;
    }
}